## Q1

For loop is generally used when we want to iterate over something. For eg we have a list and we want to iterate over all elements in the last

In [1]:
list=['apples','bananas','mangoes']
for item in list:
    print(item)

apples
bananas
mangoes

While loop is used when we want to repeat something until a certain condition is met. For eg we want to print integers until we hit 50

In [2]:
i=1
while i !=50:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

However , you can notice that while and for loop can be used in any scenario. Any while loop can be written using for loop and any for loop can be written using while loop. It totally depends on the coder which loop he wants to use

## Q2

In [3]:
# Sum using for loop
curr_sum=0
for i in range(1,11):
    curr_sum+=i
print(f"Sum of first 10 natural number is: {curr_sum}")

Sum of first 10 natural number is: 55

In [4]:
## Product using for loop
curr_prod=1
for i in range(1,11):
    curr_prod*=i
print(f"Product of first 10 natural number is: {curr_prod}")

Product of first 10 natural number is: 3628800

In [5]:
# Sum using while loop
curr_sum=0
i=1
while i != 11:
    curr_sum+=i
    i=i+1
print(f"Sum of first 10 natural number is: {curr_sum}")

Sum of first 10 natural number is: 55

In [6]:
## Product using while loop
curr_prod=1
for i in range(1,11):
    curr_prod*=i
print(f"Product of first 10 natural number is: {curr_prod}")

Product of first 10 natural number is: 3628800

## Q3

In [17]:
def electricity_bill(units):
    if units<=100:
        price=4.5*units
    elif units<=200:
        price=450+(units-100)*6
    elif units<=300:
        price=1050+(units-200)*10
    else:
        price=2050+(units-300)*20
    return price

In [18]:
print(electricity_bill(100))

450.0

In [19]:
print(electricity_bill(150))

750

In [20]:
print(electricity_bill(300))

2050

In [21]:
print(electricity_bill(310))

2250

## Q4

In [24]:
divisible_By_4_or5=[]
for i in range(1,101):
    cube=i**3
    if cube%4==0 or cube %5==0:
        divisible_By_4_or5.append(cube)

In [25]:
print(divisible_By_4_or5)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

## Q5

In [32]:
def count_Vowels(string):
    string=string.lower
    count=0
    for ch in string:
        if ch=='a':
            count+=1
        if ch=='e':
            count+=1
        if ch=='i':
            count+=1
        if ch=='o':
            count+=1
        if ch=='u':
            count+=1
    return count

In [33]:
print(count_Vowels("I want to become a data scientist"))

TypeError: 'builtin_function_or_method' object is not iterable