## Q1

In [1]:
import pandas as pd

In [2]:
df=pd.Series([4,8,15,16,23,42])

In [4]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2

In [5]:
list=[1,2,3,4,5,6,7,8,9,10]

In [7]:
list_var=pd.Series(list)

In [8]:
list_var

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Q3

In [12]:
data=pd.DataFrame({"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]})

In [13]:
print(data)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4

 A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns 
 while A Pandas Series is like a column in a table.It is a one-dimensional array holding data of any type.
 series=["BMW","Toyota","Honda"]
 dataframe=[["Alice","25","Female"],["Bob","30","Male"]]

## Q5

Pandas is a powerful library for data manipulation and analysis in Python. It provides many built-in functions for manipulating data in a DataFrame. Here are some common functions you can use to manipulate data in a Pandas DataFrame:

1.head() and tail(): Returns the first or last n rows of a DataFrame, respectively. These functions are useful for quickly inspecting the data and checking that it has been loaded correctly
2.info(): Provides a summary of the DataFrame, including the number of non-null values and data types of each column.
3.describe(): Provides descriptive statistics for the numeric columns in the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartiles.
4.sort_values(): Sorts the DataFrame by one or more columns.
5.groupby(): Groups the DataFrame by one or more columns and allows you to apply a function to each group.

## Q6

In Pandas, the Series and DataFrame are mutable objects, which means that you can modify their contents after they have been created. On the other hand, Panel is a deprecated class in Pandas and is no longer recommended to be used, but when it was being used, it was also a mutable object.

So, in summary, both Series and DataFrame are mutable, while Panel is a deprecated class in Pandas that was also mutable.

## Q7

In [14]:
colours=pd.Series(["Red","Blue","Green"])
series=pd.Series(["BMW","Toyota","Honda"])
car_data=pd.DataFrame({"Car make":series,"Colour":colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  Green